.text{
    font-family: 'Montserrat';
    text-decoration: none!important;
    font-size: 24px;
    color: #517852!important;
    font-weight: 400;
    margin-left: 48px;
    
    
}

.link{
    text-decoration: none;
   
}

.active{
    font-family: 'Montserrat';
    font-weight: 600;
    color: #517852!important ;

}

.navbar_opciones{
    margin-top: 80px!important;
}

.cssCerrar{
    display: none!important;
}


@media (max-width: 600px) {
    .navbar_opciones{
        margin-top: 0px!important;
    }
    .text{
        font-size: 100%;
    }
    .navbar-toggler{
        position: absolute;
        top: 25px;
        right: 0px;
    }
    .navbar_opciones{
        margin-top: 50%!important;
    }
  
  }