.cardItemCheckout{
    display: -webkit-box;
    margin: 0px;
    box-shadow: none;
    border-color: #517852;
    border-width: 1px;
    margin-bottom: 5%;
}

.cardItemCheckout_imagen{
    width: 130px;
    height: 200px;
}

.cardItemCheckout_flex{
    display: flex;
}

.cardItemCheckout_cardBody{
    padding-left: 0px;
    padding-right: 0px;
    margin-top: 25px;
}

.cardItemCheckout_pcp{
   
    font-family: 'Montserrat';
    font-size: 140%;
}

.cardItemCheckout_titulo{
    margin-bottom: 50px;
    text-align: center;
    font-size: 120%;
    width: 230px;
    font-family: 'Montserrat';
}

.cardItemCheckout_botones{
    display: flex;
}

.checkBoton{
    width: 30px;
    height: 30px;
    background-color: white;
    border: none;
}

.btnEliminar{
    width: 25px;
    height: 20px;
    background-color: white;
    border: none;
    margin-left: 35px;
    position: absolute;
    margin-left: 62%;
    margin-top: -8.9%;
}

.cerrarchico{
    width: 120%;
    
}

.flex{
    display: flex;
}

.cantidad{
    font-size: 100%;
}


@media (max-width: 600px) {
    .cardItemCheckout_titulo{
        font-size: 93%;
        text-align: left;
    }
    .cardItemCheckout_flex{
        display: block;
    }
    .btnEliminar{
        margin-left: 47%;
    }
    
  }