.botonLogIn{
    font-family: 'Open Sans';
    color: white;
    background-color:#F7CA00;
    border: none;
    font-size: 105%;
    padding: 5px;
    border-radius: 4px;
    margin-right: 15px;
    width: max-content;
        
}

.botonRegistrarse{
    color: white;
    background-color:#F7CA00;
    border: none;
    font-size: 105%;
    padding: 5px;
    border-radius: 4px;
    margin-right: 15px;
    
    
}

.emailLogueado{
    font-family: 'Open Sans';
    color: white;
    background-color:#98bd6c;
    border: none;
    font-size: 105%;
    padding: 5px;
    border-radius: 4px;
    margin-right: 15px;
    width: max-content;
}

@media (max-width: 600px) {
    .flex-direction {
     flex-direction: row!important;
    }
  
  }


