a{
    text-decoration: none!important;
}



.texto{
    text-decoration: none!important;
    
}


.icono{
    width: 45%;
}


.carroverde2{
    margin-left: 64%;
    position: absolute;
    margin-top: -4%;
    cursor: pointer;
}

.numerito{
    position: absolute;
    margin-top: 5%;
    margin-left: -25%;
    font-weight: 500;
    font-size: 1.25vw;
}

@media (max-width: 600px) {
    .icono {
     width: 40%;
     margin-top: -8.5%;
     margin-left: -80%;
    }
 
    .numerito {
       font-size: 4vw;
       margin-left: -20%;
       margin-top: -4%;
        
    }
  }