a{
    text-decoration: none!important;
}



.texto{
    text-decoration: none!important;
    
}


.icono{
    width: 5%!important;
}


.carroverde2{
    margin-left: 64%;
    position: absolute;
    width: 75%!important;
    margin-top: -4%;
    cursor: pointer;
}

.numerito{
    position: absolute;
    margin-top: 0.6%;
    margin-left: -3%;
    font-weight: 500;
    font-size: 1.25vw;
}

@media (max-width: 600px) {
    .icono {
     width: 18%!important;
     margin-top: -7%;
     margin-left: -35%;
    }
    .numerito {
       font-size: 4.8vw;
       margin-left: -10%;
       margin-top: -4.7%;
        
    }
  }