

  


.btn-primary:focus{
    
    box-shadow: none;
    color: black;
    
}

.grupotarjetas{
    margin-top: 8%
}

.ordenar{
    background-color: #D2EAB5;
    position: absolute;
    border: none;
    font-family: 'Montserrat';
    color: white;
    font-weight: 600;
    font-size: 120%;
    border-radius: 15px;
    margin-left: 55%;
    display: flex;
    width: 9%;
    padding-right: 10px;
    padding-left: 10px;
    margin-top: -2.5%;
    cursor: pointer;
}

.flechita{
    width: -webkit-fill-available;
    height: fit-content;
    margin-top: 13px;
    margin-left: 5px;
    
}
