.card{
    border: solid 2px;
    border-color: white;

}

.card:hover{
    border: ridge 2px;
    border-color: rgb(241, 165, 241); 
}

.cardTitulo{
    line-height: 2;
    text-align: center;
    margin: 0px;
    font-size: 100%;
}

.cardImagen{
    width: 150px;
    height: 230px;
    
}

.divBotonComprar{
    text-align: center;
}

.botonComprar{
    color: black;
    background-color:rgb(241, 165, 241);
    border: none;
    width: 80%;
    font-size: 80%;
    
}

.botonComprar:hover{
    color: white;
    background-color:rgb(230, 43, 230);
    border: none;
    width: 80%;
   
    
    
}

.cardPrecio{
    text-align: center;
}

