.bienvenidos{
    font-family: 'Playfair Display';
    text-align: center;
    font-size: 650%;
    margin-top: 5%;
    color: #F7CA00;
}

@media (max-width: 600px) {
    .bienvenidos {
      font-size: 300%;
    }
  
  }