
.margenes-header{
    margin-left: 45px;
    margin-right: 45px;
    background-color: transparent!important;

}

@media (max-width: 600px) {
    .navbar-brand {
     position: absolute;
    }
    .margen{
        margin-top: 35%;
    }
  }


